<html>
<body>
    <h3>Your pokemon name is: {{ pokemon_1.name }}</h3>
    <p>Your pokemon level is: {{ pokemon_1.level }}</p>
    <p>Your pokemon basic power is: {{ pokemon_1.power }}</p>
    <p>Your pokemon type is: {{ pokemon_1.list_types() }}</p>
    <h3>Enemy pokemon name is: {{ pokemon_2.name }}</h3>
    <p>Enemy pokemon level is: {{ pokemon_2.level }}</p>
    <p>Enemy pokemon basic power is: {{ pokemon_2.power }}</p>
    <p>Enemy pokemon type is: {{ pokemon_2.list_types() }}</p>


<h2>And the winner is: {{ winner.name }}</h2>
</body>
</html>